.songDetails{
width: 600px;
background-color: grey;
border-style: double;
margin: 10px;
text-align: center;
margin-left: auto;
margin-right: auto;

}

container {
  flex-wrap: wrap;
  display: flex;

}
